<div style="float: right;">
  <%= link_to image_tag("/images/add.png", :border => 0), new_album_path if current_user %>
</div>

<h2>Listing albums</h2>
  
<table>
    <tr>
      <h4>Title</h4>
        <th></th>
       <th></th>
    </tr>
      
<% for album in @albums %>

    <tr>
      <td><%= link_to "#{album.title}", album %></td>
      <td><%= link_to "Destroy", album, :confirm => "Are you sure?", :method => :delete if album.has_access?(current_user) %></td>
    </tr>
    
<% end %>
    
</table>

<br />

