<h1>New album</h1>

<% form_for(@album) do |f| %>
  
  <p>
    <b>Title</b> <br />
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.submit "Create Album" %>
  </p>
  
<% end %>
  
<%= link_to "Back", albums_path %>    