<div id="kommentar">
<% @voteable.comments.each do |comment| %>
  <%= render :partial => "comments/comment", :locals => { :comment => comment } %>
<% end %>
</div>
<%= render :partial => "comments/form", :locals => { :owner => @photo } %>
