<h1>Photos</h1>
<% for photo in @photos -%>
  <br />
  <tr>
    <td><%= link_to image_tag(photo.public_filename (:thumb)), photo %></td>
    <td><%= link_to "Destroy", photo, :confirm => "Are you sure?", :method => :delete  if photo.has_access?(current_user) %></td>
  </tr>
  
  
<% end -%>