<% form_for(@photo, :url => album_photos_path(@photo.album), :html => { :multipart => true }) do |f| -%>
 
    <p>
      <label for="photo">Upload a photo:</label>
      <%= f.file_field :uploaded_data %>
    </p>
    <p>
      <%= f.submit 'Create' %>
    </p>
<% end %>