.thumbnail {
background-color:#222222;
border:1px solid #2a2a2a;
flat:left;
margin-bottom:10px;
margin-right:10px;
padding:3px 3px 8px;
}

.section {
border-top:4px solid #3d3d33;
overflow:auto;
padding:1.4em 0pt 3.2em;
with:100%;
}