<style type="text/css">

.mattblacktabs{
width: 100%;
overflow: hidden;
border-bottom: 2px solid black; /*bottom horizontal line that runs beneath tabs*/
}

.mattblacktabs ul{
margin: 0;
padding: 0;
padding-left: 10px; /*offset of tabs relative to browser left edge*/
font: bold 12px Verdana;
list-style-type: none;
}

.mattblacktabs li{
display: inline;
margin: 0;
}

.mattblacktabs li a{
float: left;
display: block;
text-decoration: none;
margin: 0;
padding: 7px 8px; /*padding inside each tab*/
border: 1px solid black;
color: black;
background: #414141; /*background of tabs (default state)*/
}

.mattblacktabs li a:visited{
color: white;
}

.mattblacktabs li a:hover, .mattblacktabs li.selected a{
background: black;
filter:alpha(opacity=97);
-moz-opacity:0.97;
-khtml-opacity: 0.97;
opacity: 0.97;
}

body{
  background-image: url('/images/ribbon.gif');
  background-image-repeat: repeat-x;
  background-color: #fff;
}

#content {
  float: left;
  width: 780px;
  margin: 0px 100px;
  padding: 10px;
  background-color: #fff;
  border: solid 2px #051800;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  position: relative;
}

.flash #flash .message #message {
  border: solid;
  background-color: #fff;
  padding: 10px;
}

.userbar{
  padding: 5px;
  width: 200px;
  height: 88px;
  border: solid 1px black;
  float: right;
  background-color: #fff;
  filter:alpha(opacity=90);
  -moz-opacity:0.90;
  -khtml-opacity: 0.90;
  opacity: 0.90;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.head{
  width: 100%;
  height: 101px;
  float: left;
}


</style>