<h1>Login here</h1>

<% form_tag do %>
  <p>
    <label for="name">Username:</label>
    <%= textfield_tag :name, params[:name] %>
  </p>
    
  <p>
    <label for="password">Password:</label>
    <%= password_field_tag :password, params[:password] %>
  </p>
  
  <p>
    <%= submit_tag "Login" %>
  </p>
  <% end %>
