<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to "/albums", albums_path %></li>
    <li><%= link_to "/users", users_path %></li>
  </ul>
</div>
<div class="block">
  <h3>Search</h3> 
  <div class="content">
    <p>The search function is going to be up later this week</p>
  </div>
</div>