<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to "/albums", albums_path %></li>
    <li><%= link_to "/users", users_path %></li>
  </ul>
</div>
<div class="block">
  <h3>Comments</h3> 
  <div class="content">
    <p>Future comment section is going to be placed here! Lorem Ipsum and so forth</p>
  </div>
</div>