<div style="float: right;">
  <%= link_to image_tag("/images/add.png", :border => 0), new_album_photo_path(@album) if current_user %>
</div>
  
  <h2><%= @album.title %></h2>

<table>
<% for photo in @album.photos %>
  <tr>
    <td><%= link_to image_tag(photo.public_filename(:thumb)), photo %></td><br />
    <td><%= link_to image_tag("/images/remove.png", :border => 0), photo, :confirm => "Are you sure?", :method => :delete if photo.has_access?(current_user)%></td>
  </tr>
  
<% end %>
</table>
 

  