<h2><%= @album.title %></h2>
<table>
<% for photo in @album.photos %>
  <tr>
    <td><%= link_to image_tag(photo.public_filename(:thumb)), photo %></td><br />
    <td><%= link_to "Destroy", photo, :confirm => "Are you sure?", :method => :delete if photo.has_access?(current_user)%></td>
  </tr>
  
<% end %>
</table>
 
<p><%= link_to "Add Photo", new_album_photo_path(@album) if photo.has_access?(current_user) %></p>
  