<div>
<header><%= @photo.filename %></header><br />
  <%= image_tag @photo.public_filename %><br />
  <tr>
    <td><%= link_to "Add Photo", Photo.new %></td>
    <td><%= link_to 'Back', photos_path %><td>
  </tr>
</div>